<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/functions.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body style="padding: 10px;">
    <div class="main-container">
        <h1>Pymate: Simulating Primate Mating Strategies</h1>

        <!-- Insert the plot image here -->

        <div class = "variable-input-container" id = "variable-input-container">
            <div class="variable">Males per Group:<input class= "input-box" name="nMales" id="nMales" type="text" value="10"></div>
            <div class="variable">Females per Group:<input class= "input-box" name="nFemales" id="nFemales" type="text" value="10"></div>
            <div class="variable">Number of Groups:<input class= "input-box" name="nGroups" id="nGroups" type="text" value="4"></div>
            <div class="variable">Number of Generations:<input class= "input-box" name="nGenerations" id="nGenerations" type="text" value="1000"></div>
            <div class="variable">Mutation Rate:<input class= "input-box" name="mutationRate" id="mutationRate" type="text" value="0.01"></div>
            <div class="variable">Migration Rate:<input class= "input-box" name="migrationRate" id="migrationRate" type="text" value="0.01"></div>
        </div>
        <button id='hide-show-button' style="border:solid black 1px;top: -25px;left:calc(80% - 45px);background:#81b6e9;text-align: center;position: relative;width: 74px;height:20px;">Show/Hide</button>

        <div style="display:flex;flex-wrap:wrap;flex-direction: column;">
        <form action="/" method="post" class="correlation-form" >
            <div class="label-container" class="correlation-label">
                <label for="rankFitnessCorrelation">Correlation:</label>
            </div>
            <input type="range" class="correlation-slider" id="rankFitnessCorrelation" name="rankFitnessCorrelation" min="0" max="1" step="0.05" list="values">
            
        
            <datalist id="values">
                <option value="0.0" label="0.0"></option>
                <option value="0.5" label="0.5"></option>
                <option value="1.0" label="1.0"></option>
            </datalist>
        </form>

        <form action="/" method="post" class="correlation-form" >
            <div class="label-container" class="correlation-label">
                <label for="rankFitnessCorrelation">Speed:</label>
            </div>
            <input type="range" class="correlation-slider" id="speed" name="speed" min="0" max="50" step="1" list="speed_values">
            <datalist id="speed_values">
                <option value="0" label="0"></option>
                <option value="25" label="25"></option>
                <option value="50" label="50"></option>
            </datalist>
        </form>

        <div class="button-container">
                <button id= "setup-button" class="form-container" onclick="set_up_model()">Setup</button>

                <button id= "one-generation-button" class="form-container" onclick="go_one_generation()">Go one generation</button>

                <button id= "one-day-button" class="form-container" onclick="go_one_day()">Go one day</button>

                <button id= "evolve-button" class="form-container" onclick="evolve()">Evolve</button>

                <button id= "stop-button" class="form-container" onclick="stopLoop()">Stop</button>
        </div>
        
        <div id="plot-container" class="plot-container">
            <div id="rank-fitness-container" class="plot-box">
                <img src="" alt="Image" class="plot-image">
            </div>
            <div id="rank-RS-container" class="plot-box">
                <img src="" alt="Image"  class="plot-image">
            </div>
        </div>
    </div>

    <div class="command-container">
    <div class="terminal-box">
        <div class="terminal-output" id="terminal-output"></div>
        <textarea id="commandInput" class="commandInput" placeholder="Enter Python command"></textarea>
    </div>
        <button id="executeButton" class = "executeButton">Execute</button>
    </div>
</body>
</html>