<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/functions.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="main-container">
        <h1>Flask App</h1>

        <!-- Insert the plot image here -->
        <div style="display:flex;align-items:baseline;flex-wrap:wrap;flex-direction: column;">
            <div id="variables">
                    <div class="variable-input-container">
                        <div class="label-container">
                            <label for="nMales">Males per group:</label>
                        </div>
                        <div class="variable-input" >
                            <button onclick="dec('nMales')" class="input-button">-</button>
                            <input class= "input-box" name="nMales" id="nMales" type="text" value="10">
                            <button onclick="inc('nMales')" class="input-button">+</button>  
                        </div>
                    </div>
                    
                    <div class="variable-input-container">
                        <div class="label-container">
                            <label for="nFemales">Females per group:</label>
                        </div>
                        <div class="variable-input" >
                            <button onclick="dec('nFemales')" class="input-button">-</button>
                            <input class= "input-box" name="nFemales" id="nFemales" type="text" value="10">
                            <button onclick="inc('nFemales')" class="input-button">+</button>  
                        </div>
                    </div>

                <div class="variable-input-container">
                    <div class="label-container">
                        <label for="nGroups">Number of Groups:</label>
                    </div>
                    <div class="variable-input" >
                        <button onclick="dec('nGroups')" class="input-button">-</button>
                        <input class= "input-box" name="nGroups" id="nGroups" type="text" value="4">
                        <button onclick="inc('nGroups')" class="input-button">+</button>  
                    </div>
                </div>

                <div class="variable-input-container">
                    <div class="label-container">
                        <label for="nGenerations">Number of Generations:</label>
                    </div>
                    <div class="variable-input" >
                        <button onclick="dec('nGenerations')" class="input-button">-</button>
                        <input class= "input-box" name="nGenerations" id="nGenerations" type="text" value="1000">
                        <button onclick="inc('nGenerations')" class="input-button">+</button>  
                    </div>
                </div>

                <div class="variable-input-container">
                    <div class="label-container">
                        <label for="mutationRate">Mutation Rate:</label>
                    </div>
                    <div class="variable-input" >
                        <button onclick="dec_decimal('mutationRate')" class="input-button">-</button>
                        <input class= "input-box" name="mutationRate" id="mutationRate" type="text" value="0.01">
                        <button onclick="inc_decimal('mutationRate')" class="input-button">+</button>  
                    </div>
                </div>

                <div class="variable-input-container">
                    <div class="label-container">
                        <label for="migrationRate">Migration Rate:</label>
                    </div>
                    <div class="variable-input" >
                        <button onclick="dec_decimal('migrationRate')" class="input-button">-</button>
                        <input class= "input-box" name="migrationRate" id="migrationRate" type="text" value="0.01">
                        <button onclick="inc_decimal('migrationRate')" class="input-button">+</button>  
                    </div>
                </div>
            </div>
            <div id="info-container" style="margin:auto;">
                <h1 id="info">Model Info:   </h1>
            </div>
        </div>

        <form action="/" method="post" class="correlation-form" >
            <div class="label-container" class="correlation-label">
                <label for="rankFitnessCorrelation">Correlation:</label>
            </div>
            <input type="range" class="correlation-slider" id="rankFitnessCorrelation" name="rankFitnessCorrelation" min="0" max="1" step="0.05" list="values">
        
            <datalist id="values">
                <option value="0.0" label="0.0"></option>
                <option value="0.5" label="0.5"></option>
                <option value="1.0" label="1.0"></option>
            </datalist>
        </form>

        <div class="button-container">
            <form action="/set-up-model" method="post" id="set-up-model" class="form-container">
                <input id= "setup-button" type="submit" value="Setup-test">
            </form>

            <form action="/go-one-generation" method="post" id="go-one-generation" class="form-container">
                <input id= "one-generation-button" type="submit" value="Go one generation">
            </form>

            <form action="/go-one-day" method="post" id="go-one-day" class="form-container">
                <input id= "one-day-button" type="submit" value="Go one day">
            </form>

            <form action="/evolve" method="post" id="evolve" class="form-container">
                <input id= "evolve-button" type="submit" value="Evolve">
            </form>

            <div class="form-container">
                <input id= "stop-button" type="submit" value="Stop" id="stopButton">
            </div>
        </div>
        
        <div id="plot-container" class="plot-container">
            <div id="rank-fitness-container" class="plot-box">
                <img src="" alt="Image" class="plot-image">
            </div>
            <div id="rank-RS-container" class="plot-box">
                <img src="" alt="Image"  class="plot-image">
            </div>
        </div>
    </div>

    <div class="command-container">
    <div class="terminal-box">
        <div class="terminal-output" id="terminal-output"></div>
        <textarea id="commandInput" class="commandInput" placeholder="Enter Python command"></textarea>
    </div>
        <button id="executeButton" class = "executeButton">Execute</button>
    </div>
</body>
</html>